<div class="jumbotron">
    <form action="/" method="post">
        <div class="form-group">
            <label for="task">Enter a Task:</label>
            <input type="text" id="task" class="form-control" name="title" required placeholder="Eg: Get Eggs!">
        </div>
        <button type="submit" class="btn btn-primary"><b>ADD TASK</b></button>
    </form>
</div>



<div class="jumbotron all">
    <h1>All Tasks!</h1>
    <div class="row">
        <div class="col-8">
            <ul class="list-group">
                <% @tasks.each do |task| %>
                <li class="list-group-item">
                    <h5><%= task.title %></h5>

                    <% if task.completed %>
                        <h4><span class="badge badge-success">COMPLETED!</span></h4>
                    <% else %>
                        <form action="/update/<%= task.id %>" method="post">
                            <button type="submit" class="btn btn-warning"><b>COMPLETED THIS?</b></button>
                        </form>
                    <% end %>

                    <form action="/delete/<%= task.id %>" method="post">
                        <button type="submit" class="btn btn-danger"><b>DELETE</b></button>
                    </form>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
