<form action="/" method="post">
    <label for="task">Enter a Task:</label>
    <input type="text" id="task" name="task" required placeholder="Eg: Get Eggs!">
    <input type="submit" value="Add Task">
</form>

<h1>All Tasks!</h1>
<ul>

</ul>
