<html>
    <head>
        <title>Task Manager - Sinatra</title>
        <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container-fluid">
            <%= yield %>
        </div>
        <script src="/javascripts/lib/jquery.min.js" charset="utf-8"></script>
        <script src="/javascripts/lib/tether.min.js" charset="utf-8"></script>
        <script src="/javascripts/lib/bootstrap.min.js" charset="utf-8"></script>
    </body>
</html>
